# AirBnB NY Locations Data Case Study

In this final project, you task will be to take the data provided and find evidance to answer the following questions.

1. Which hosts are the busiest and why?
2. How many neighborhood groups are available and which shows up the most?
3. Are private rooms the most popular in manhattan?
4. Which hosts are the busiest and based on their reviews?
5. Which neighorhood group has the highest average price?
6. Which neighborhood group has the highest total price?
7. Which top 5 hosts have the highest total price?
8. Who currently has no (zero) availability with a review count of 100 or more?
9. What host has the highest total of prices and where are they located?
10. When did Danielle from Queens last receive a review?


This is to similute what you will face when you are out in the wild. 

Happy Coding!

In [17]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
air_bnb = pd.read_csv('../Friday_Project/AB_NYC_2019.csv')
air_bnb.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [7]:
# How many neighborhood groups are available and which shows up the most?

air_bnbgroups= air_bnb['neighbourhood_group'].describe()
print(air_bnbgroups)
print(f'These are the neighborhood groups available {air_bnb.neighbourhood_group.unique()}')
print('Manhattan shows up the most')

count         48895
unique            5
top       Manhattan
freq          21661
Name: neighbourhood_group, dtype: object
These are the neighborhood groups available ['Brooklyn' 'Manhattan' 'Queens' 'Staten Island' 'Bronx']
Manhattan shows up the most

In [8]:
# Are private rooms the most popular in manhattan?

rooms =air_bnb.groupby(by=['neighbourhood_group','room_type']).count()

print(f'No, Private Rooms are most popular in Brooklyn ')
print(rooms)

No, Private Rooms are most popular in Brooklyn
                                        id   name  host_id  host_name  \
neighbourhood_group room_type
Bronx               Entire home/apt    379    379      379        378
                    Private room       652    652      652        652
                    Shared room         60     59       60         60
Brooklyn            Entire home/apt   9559   9558     9559       9554
                    Private room     10132  10127    10132      10128
                    Shared room        413    413      413        413
Manhattan           Entire home/apt  13199  13193    13199      13196
                    Private room      7982   7979     7982       7976
                    Shared room        480    480      480        480
Queens              Entire home/apt   2096   2096     2096       2096
                    Private room      3372   3372     3372       3370
                    Shared room        198    198      198        198
Staten Island       Entire home/apt    176    176      176        176
                    Private room       188    188      188        188
                    Shared room          9      9        9          9

                                     neighbourhood  latitude  longitude  \
neighbourhood_group room_type
Bronx               Entire home/apt            379       379        379
                    Private room               652       652        652
                    Shared room                 60        60         60
Brooklyn            Entire home/apt           9559      9559       9559
                    Private room             10132     10132      10132
                    Shared room                413       413        413
Manhattan           Entire home/apt          13199     13199      13199
                    Private room              7982      7982       7982
                    Shared room                480       480        480
Queens              Entire home/apt           2096      2096       2096
                    Private room              3372      3372       3372
                    Shared room                198       198        198
Staten Island       Entire home/apt            176       176        176
                    Private room               188       188        188
                    Shared room                  9         9          9

                                     price  minimum_nights  number_of_reviews  \
neighbourhood_group room_type
Bronx               Entire home/apt    379             379                379
                    Private room       652             652                652
                    Shared room         60              60                 60
Brooklyn            Entire home/apt   9559            9559               9559
                    Private room     10132           10132              10132
                    Shared room        413             413                413
Manhattan           Entire home/apt  13199           13199              13199
                    Private room      7982            7982               7982
                    Shared room        480             480                480
Queens              Entire home/apt   2096            2096               2096
                    Private room      3372            3372               3372
                    Shared room        198             198                198
Staten Island       Entire home/apt    176             176                176
                    Private room       188             188                188
                    Shared room          9               9                  9

                                     last_review  reviews_per_month  \
neighbourhood_group room_type
Bronx               Entire home/apt          309                309
                    Private room             524                524
                    Shared room               43                 43
Brooklyn            Entire home/apt         8164               8164
                    Private room            7993               7993
                    Shared room              290                290
Manhattan           Entire home/apt         9967               9967
                    Private room            6309               6309
                    Shared room              356                356
Queens              Entire home/apt         1742               1742
                    Private room            2680               2680
                    Shared room              152                152
Staten Island       Entire home/apt          150                150
                    Private room             159                159
                    Shared room                5                  5

                                     calculated_host_listings_count  \
neighbourhood_group room_type
Bronx               Entire home/apt                             379
                    Private room                                652
                    Shared room                                  60
Brooklyn            Entire home/apt                            9559
                    Private room                              10132
                    Shared room                                 413
Manhattan           Entire home/apt                           13199
                    Private room                               7982
                    Shared room                                 480
Queens              Entire home/apt                            2096
                    Private room                               3372
                    Shared room                                 198
Staten Island       Entire home/apt                             176
                    Private room                                188
                    Shared room                                   9

                                     availability_365
neighbourhood_group room_type
Bronx               Entire home/apt               379
                    Private room                  652
                    Shared room                    60
Brooklyn            Entire home/apt              9559
                    Private room                10132
                    Shared room                   413
Manhattan           Entire home/apt             13199
                    Private room                 7982
                    Shared room                   480
Queens              Entire home/apt              2096
                    Private room                 3372
                    Shared room                   198
Staten Island       Entire home/apt               176
                    Private room                  188
                    Shared room                     9

In [384]:
# Which hosts are the busiest and based on their reviews?
busiest=air_bnb[['host_name','number_of_reviews']]
groupedhost = busiest.groupby('host_name')['number_of_reviews'].count()

groupedhost.sort_values(ascending=False)

host_name
Michael         417
David           403
Sonder (NYC)    327
John            294
Alex            279
               ...
Jerbean           1
Jerald            1
Jeonghoon         1
Jeny              1
현선                1
Name: number_of_reviews, Length: 11452, dtype: int64

In [10]:
#Which neighorhood group has the highest average price?
avgprivce= air_bnb[[ 'neighbourhood_group','price']]
avgprivce.groupby(by='neighbourhood_group').mean()

                          price
neighbourhood_group
Bronx                 87.496792
Brooklyn             124.383207
Manhattan            196.875814
Queens                99.517649
Staten Island        114.812332

In [11]:
# Which neighbor hood group has the highest total price?
avgprivce.groupby(by='neighbourhood_group').sum()

                       price
neighbourhood_group
Bronx                  95459
Brooklyn             2500600
Manhattan            4264527
Queens                563867
Staten Island          42825

In [385]:
#Which top 5 hosts have the highest total price?
totalloc= air_bnb
# totalloc.groupby(['host_name'],as_index=False).sum().sort_values('price',ascending=False)
grouped=totalloc.groupby('host_name')['price'].sum()
grouped.sort_values(ascending=False).head(6)

host_name
Sonder (NYC)    82795
Blueground      70331
Michael         66895
David           65844
Alex            52563
Jessica         50697
Name: price, dtype: int64

In [424]:
# Who currently has no (zero) availability with a review count of 100 or more?
air_bnb['number_of_reviews']>=100
morethan= air_bnb[air_bnb['number_of_reviews']>=100]
morethan.sort_values(['number_of_reviews'],ascending=False).drop_duplicates()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
11759,9145202,Room near JFK Queen Bed,47621202,Dona,Queens,Jamaica,40.66730,-73.76831,Private room,47,1,629,2019-07-05,14.58,2,0
2031,903972,Great Bedroom in Manhattan,4734398,Jj,Manhattan,Harlem,40.82085,-73.94025,Private room,49,1,607,2019-06-21,7.75,3,0
2030,903947,Beautiful Bedroom in Manhattan,4734398,Jj,Manhattan,Harlem,40.82124,-73.93838,Private room,49,1,597,2019-06-23,7.72,3,0
2015,891117,Private Bedroom in Manhattan,4734398,Jj,Manhattan,Harlem,40.82264,-73.94041,Private room,49,1,594,2019-06-15,7.57,3,0
13495,10101135,Room Near JFK Twin Beds,47621202,Dona,Queens,Jamaica,40.66939,-73.76975,Private room,47,1,576,2019-06-27,13.40,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12881,9810271,Private room in 4 BR on Riverside,50539477,Brian,Manhattan,Harlem,40.82260,-73.95468,Private room,48,30,100,2019-05-31,2.31,2,0
8372,6437014,"Family Friendly & Cozy Apt Near Subway, 1 Bedroom",17382690,Erica,Brooklyn,South Slope,40.66632,-73.99013,Entire home/apt,100,3,100,2019-06-25,1.98,1,0
18555,14646562,Velvet Retreat in the West Village,22218694,Lea,Manhattan,West Village,40.73455,-74.00600,Entire home/apt,180,2,100,2019-07-01,2.90,2,0
22942,18584742,Cozy room across the street from the high bridge,128692351,Nahuel,Bronx,Highbridge,40.84111,-73.92513,Private room,80,2,100,2019-06-23,3.86,5,0
24832,19915204,BRIGHT LUXURIOUS MASTER BEDROOM,139357580,Shuly,Queens,Ditmars Steinway,40.77295,-73.90512,Private room,59,1,100,2019-06-23,4.19,8,0

In [416]:
# What host has the highest total of prices and where are they located?
grouped=totalloc.groupby(by=['host_name','neighbourhood_group'])['price'].sum()
grouped.sort_values(ascending=False).head(1)
# Sonder  has the highest total of prices

host_name     neighbourhood_group
Sonder (NYC)  Manhattan              82795
Name: price, dtype: int64

In [474]:
# When did Danielle from Queens last receive a review?

doesdan = air_bnb[air_bnb['host_name']=='Danielle']
doesdan.sort_values('last_review',ascending=False).head(10)
# She rlast received one on 2019-07-08

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
22469,18173787,Cute Tiny Room Family Home by LGA NO CLEANING FEE,26432133,Danielle,Queens,East Elmhurst,40.76380,-73.87238,Private room,48,1,436,2019-07-08,16.03,5,365
21517,17222454,Sun Room Family Home LGA Airport NO CLEANING FEE,26432133,Danielle,Queens,East Elmhurst,40.76367,-73.87088,Private room,48,1,417,2019-07-07,14.36,5,365
20403,16276632,Cozy Room Family Home LGA Airport NO CLEANING FEE,26432133,Danielle,Queens,East Elmhurst,40.76335,-73.87007,Private room,48,1,510,2019-07-06,16.22,5,365
5717,4163781,Sun Soaked & Cozy PR Williamsburg,1401835,Danielle,Brooklyn,Williamsburg,40.71007,-73.95653,Private room,99,3,19,2019-07-06,0.33,3,365
29546,22686497,"Backyard BK! Live like a NY’er in modern, new ...",24124835,Danielle,Brooklyn,Bedford-Stuyvesant,40.68860,-73.92937,Entire home/apt,130,4,53,2019-07-06,3.66,2,365
22068,17754072,Bed in Family Home Near LGA Airport,26432133,Danielle,Queens,East Elmhurst,40.76389,-73.87155,Shared room,38,1,224,2019-07-06,7.96,5,365
7086,5115372,Comfy Room Family Home LGA Airport NO CLEANING...,26432133,Danielle,Queens,East Elmhurst,40.76374,-73.87103,Private room,54,1,430,2019-07-03,13.45,5,365
47994,36029624,Lovely Two Bedroom Next to Central Park,218969291,Danielle,Manhattan,Upper West Side,40.78635,-73.97636,Entire home/apt,279,5,2,2019-07-02,2.00,1,365
39346,30695780,Heart of Upper East Side Home w/ washer-dryer,2939479,Danielle,Manhattan,Upper East Side,40.77510,-73.95294,Private room,125,3,2,2019-07-01,0.32,1,365
5897,4296291,"100 st! cozy, clean, private UES E Harlem",22303517,Danielle,Manhattan,East Harlem,40.78907,-73.94877,Entire home/apt,75,1,107,2019-06-27,1.91,1,365

## Further Questions

1. Which host has the most listings?

In [443]:
mostlist= air_bnb[['host_name','calculated_host_listings_count']]
hostmost=mostlist.groupby(['calculated_host_listings_count'],as_index=False).max()
hostmost.sort_values('calculated_host_listings_count',ascending=False).head(1)

    calculated_host_listings_count     host_name
46                             327  Sonder (NYC)

2. How many listings have completely open availability?

In [497]:
# compavail =air_bnb
# compavail
airbnb = pd.read_csv('../Friday_Project/AB_NYC_2019.csv')
counts=airbnb[airbnb['availability_365']==365]
counts.count()

print (f'There are 1295 listings with open availability')

There are 1295 listings with open availability

3. What room_types have the highest review numbers?

In [82]:
revnum= air_bnb[['room_type','number_of_reviews']]
revnum.sort_values('room_type').max()

room_type            Shared room
number_of_reviews            629
dtype: object

# Final Conclusion

In this cell, write your final conclusion for each of the questions asked.

Also, if you uncovered some more details that were not asked above, please discribe them here.

-- Add your conclusion --